<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MercadoLiebre</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/normalize.css" />
    <link href="css/styles.css" rel="stylesheet" />
  </head>

  <body>
    <header>
      <div>
        <img src="/img/logo-mercado-liebre.svg" alt="Logo MercadoLiebre" />
      </div>
      <div class="buscar">
        <p id="barra-busqueda">buscar productos, marcas</p>
        <div class="busqueda"><i class="fas fa-search"></i></div>
      </div>
      <p class="compra">
        <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta
        de crédito
      </p>
      <!-- Barra de navegación que posea las siguientes opciones: -->
      <nav class="navegador">
        <ul>
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
          <li>
            <a href="/register"
              >Creá tu cuenta <i class="far fa-id-card"></i
            ></a>
          </li>
          <li>
            <a href="/login"
              >Ingresá <i class="fas fa-sign-in-alt"></i
              ><!--iconito de ingreso--></a
            >
          </li>
          <li>
            <a href="#"
              >Mis compras <i class="fas fa-shopping-basket"></i
              ><!--iconito de canasta--></a
            >
          </li>
        </ul>
      </nav>
      <!-- menu hamburguesa -->
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>
    <section>
      <img src="/img/img-home-banner.jpg" alt="Banner de ofertas" />
    </section>
    <main>
      <section>
        <h2 class="titulares">Basado en tu última visita</h2>

        <article>
          <img src="img/img-cafetera-moulinex.jpg" alt="Cafetera" />
          <div class="separacion">
            <div class="camion"><i class="fas fa-truck"></i></div>
            <p class="precios">$6.770</p>
            <p class="descuentos">40% OFF</p>
          </div>
          <h4 class="descripciones">Cafetera Moulinex</h4>
        </article>

        <article>
          <img src="img/img-macbook-pro-2019.jpg" alt="Macbook" />
          <div class="separacion">
            <div class="camion"><i class="fas fa-truck"></i></div>
            <p class="precios">$230.000</p>
            <p class="descuentos">20% off</p>
            <h4 class="descripciones">MacBook Pro 2019</h4>
          </div>
        </article>

        <article>
          <img src="img/img-samsung-galaxy-s10.jpg" alt="galaxy s10" />
          <div class="separacion">
            <div class="camion"><i class="fas fa-truck"></i></div>
            <p class="precios">$70.500</p>
            <p class="descuentos">10% off</p>
            <h4 class="descripciones">Samsung Galaxy S10</h4>
          </div>
        </article>

        <article>
          <img src="img/img-tv-samsung-smart.jpg" alt="tv samsung smart" />
          <div class="separacion">
            <div class="camion"><i class="fas fa-truck"></i></div>
            <p class="precios">$23.000</p>
            <p class="descuentos">5% off</p>
            <h4 class="descripciones">SmartTv Samsung 43</h4>
          </div>
        </article>
      </section>

      <section>
        <h2 class="titulares">Ofertas</h2>
        <article>
          <img src="img/img-cafetera-moulinex.jpg" alt="Cafetera" />
          <div class="separacion">
            <div class="camion"><i class="fas fa-truck"></i></div>
            <p class="precios">$6.770</p>
            <p class="descuentos">40% OFF</p>
            <h4 class="descripciones">Cafetera Moulinex</h4>
          </div>
        </article>

        <article>
          <img src="img/img-macbook-pro-2019.jpg" alt="Macbook" />
          <div class="separacion">
            <div class="camion"><i class="fas fa-truck"></i></div>
            <p class="precios">$230.000</p>
            <p class="descuentos">20% off</p>
            <h4 class="descripciones">MacBook Pro 2019</h4>
          </div>
        </article>

        <article>
          <img src="img/img-samsung-galaxy-s10.jpg" alt="galaxy s10" />
          <div class="separacion">
            <div class="camion"><i class="fas fa-truck"></i></div>
            <p class="precios">$70.500</p>
            <p class="descuentos">10% off</p>
            <h4 class="descripciones">Samsung Galaxy S10</h4>
          </div>
        </article>

        <article>
          <img src="img/img-tv-samsung-smart.jpg" alt="tv samsung smart" />
          <div class="separacion">
            <div class="camion"><i class="fas fa-truck"></i></div>
            <p class="precios">$23.000</p>
            <p class="descuentos">5% off</p>
            <h4 class="descripciones">SmartTv Samsung 43</h4>
          </div>
        </article>
      </section>
    </main>

    <footer>
      <div class="footer-icon">
        <i class="fas fa-credit-card"></i>
      </div>
      <section class="footer-text">
        <h4  class="footer-h4">Pagá con tarjeta o en efectivo</h4>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </section>
      <div class="footer-icon">
        <i class="fas fa-gift"></i>
      </div>
      <section class="footer-text">
        <h4  class="footer-h4">Envío gratis desde $ 2.500</h4>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </section>
      <div class="footer-icon">
        <i class="fas fa-user-shield"></i>
      </div>
      <section class="footer-text">
        <h4 class="footer-h4">Seguridad, de principio a fin</h4>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </section>
      <p id="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
  </body>
</html>
